<html>
  <head>
    <link href="{{url_for('static',filename='main.css')}}" rel="stylesheet" />
    <script
      src="{{url_for('static',filename='js/main.js')}}"
      defer
      type="module"
    ></script>
  </head>
  <body>
    <div class="p-3 justify-evenly w-full">
      <div class="mb-3">
        <h3 class="font-bold mb-3">Raw stream</h3>
        <canvas id="raw-stream" class="w-[40rem] mb-3"></canvas>
        <button
          id="draw-zone-area"
          type="button"
          class="bg-sky-500 px-4 py-2 text-white font-bold rounded-lg select-none [&.active]:bg-yellow-400"
        >
          Draw zone
        </button>
        <button
          id="draw-min-area"
          type="button"
          class="bg-sky-500 px-4 py-2 text-white font-bold rounded-lg select-none [&.active]:bg-yellow-400"
        >
          Draw min detection area
        </button>
      </div>
      <div class="flex h-full">
        <div class="w-[20rem] h-[20rem]">
          <h3 class="font-bold mb-3">Cropped stream</h3>
          <img
            src="/stream/cropped"
            id="cropped-stream"
            class="h-full w-full object-contain mb-3"
          />
        </div>
        <div class="w-[20rem] h-[20rem]">
          <h3 class="font-bold mb-3">Processed stream</h3>
          <img
            src="/stream/processed"
            id="cropped-stream"
            class="w-full h-full object-contain mb-3"
          />
        </div>
      </div>
    </div>
  </body>
</html>
